body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d0221;
    color: #fff;
}

.logo h1 {
    text-decoration: none;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    letter-spacing: 1px; /* Adjust spacing between letters */
    background: linear-gradient(90deg, #a60352, #f60389, #a60352, #f60389, #a60352, #f60389, #a60352); /* Gradient color */
    -webkit-background-clip: text;
    color: transparent; /* Apply gradient to text */
    font-weight: 600; /* Adjust weight for boldness */
    padding: 10px 20px; /* Add padding for spacing */
}

.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-bottom: 2px solid #a60352;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-login {
    border: none;
    border-radius: 3px;
    background-color: #a60352;
    padding: 0px 25px;
    color: #fff;
}

.btn-login:hover {
    background-color: #c20063
}

.logout {
    color: #a60352;
}


/*index.html*/
.home {
    padding: 60px 0;
    display: flex;
    margin-top: 30px;
}

.home-text {
    flex: 1;
}

.home-text h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.home-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-image img {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
}

.btn-registernow {
    padding: 10px 20px;
    background-color: #a60352;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 775;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-registernow:hover {
    transform: scale(1.1);
    background-color: #c20063
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #0d0221;
    color: #fff;
    padding: 20px 25px;
    width: 85%;
}

.modal-header {
    border-bottom: 2px solid #a60352;
}

.modal-body {
    margin-top: 10px;
}

.btn-login2container {
    display: flex;
    justify-content: center;
}

.btn-login2 {
    display: inline-block;
    background-color: #a60352;
    color: white;
    text-align: center;
    padding: 7px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    align-items: center;
}

.mt-2 {
    margin-top: 15px;
    text-align: center;
}

.login-register {
    color: #a60352;
    cursor: pointer;
}


/*Register.html*/
.registration {
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

.registration h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.registration p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.row {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-md-6 {
    align-items: center;
}

.registration h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.form-group {
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 0px 40px;
}

.form-group label {
    text-align: center;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.d-flex {
    justify-content: center;
    font-size: larger;
}

.btn-register {
    background-color: #a60352;
    color: white;
    padding: 10px 20px;
    padding: 0.75rem 1.5rem;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    margin-top: 2rem;
}

.btn-register:hover {
    transform: scale(1.1);
    background-color: #c20063;
}

.modal-registration {
    background-color: #0d0221;
    color: #fff;
}

.modal-footer {
    border-top: 2px solid #a60352;
}

.btn-closeregistration {
    border-radius: 5px;
    color: grey;
}


/*Wallet.html*/
.btn-logoutcancel {
    background-color: grey;
    color: #fff;
    border-radius: 4px;
}

.btn-logout {
    background-color: rgb(165, 7, 7);
    color: #fff;
    border-radius: 4px;
}